/* Preloader Style Start */
/* Preloader Container */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darker-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.6s ease;
    opacity: 1;
}

/* Spinner Wrapper */
.spinner {
    position: relative;
    width: 80px;
    height: 80px;
}

/* Circles */
.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top-color: #00ffe1;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    filter: drop-shadow(0 0 10px #00ffe1);
    opacity: 0.8;
}

.circle1 {
    animation-delay: 0s;
}
.circle2 {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    animation-delay: 0.3s;
    border-top-color: #ff00c3;
    filter: drop-shadow(0 0 10px #ff00c3);
}
.circle3 {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    animation-delay: 0.6s;
    border-top-color: #00aaff;
    filter: drop-shadow(0 0 10px #00aaff);
}

/* Spin Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Preloader Style End */

/* Style for Fonts */
.font-title {
    font-family: 'Vazir', sans-serif;
    font-weight: bold;
}

/* برای توضیحات مانند معرفی یا شرح مهارت‌ها */
.font-description {
    font-family: 'Shabnam', sans-serif;
}

.font-description {
    font-family: 'Shabnam', sans-serif;
}
.font-button {
    font-family: 'Shabnam', sans-serif;
    font-weight: bolder;
}
