@font-face {
    font-family: 'Shabnam';
    src: url('/assets/fonts/shabnam/Shabnam.woff2') format('woff2'),
    url('/assets/fonts/shabnam/Shabnam.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}