/* Generated for PhpStorm v242.23339.16 on  */
@font-face {
     font-family: "Shabnam";
     src: url("/assets/fonts/shabnam/shabnam.eot");
     src: url("/assets/fonts/shabnam/shabnam.woff2") format("woff2"),
          url("/assets/fonts/shabnam/shabnam.woff") format("woff"),
          url("/assets/fonts/shabnam/shabnam.ttf") format("truetype");
     font-weight: 100;
     font-style: auto;
}
@font-face {
     font-family: "Shabnam";
     src: url("/assets/fonts/shabnam/shabnam.eot");
     src: url("/assets/fonts/shabnam/shabnam.woff2") format("woff2"),
     url("/assets/fonts/shabnam/shabnam.woff") format("woff"),
     url("/assets/fonts/shabnam/shabnam.ttf") format("truetype");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("/assets/fonts/shabnam/shabnam.eot");
     src: url("/assets/fonts/shabnam/shabnam.woff2") format("woff2"),
     url("/assets/fonts/shabnam/shabnam.woff") format("woff"),
     url("/assets/fonts/shabnam/shabnam.ttf") format("truetype");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("/assets/fonts/shabnam/shabnam.eot");
     src: url("/assets/fonts/shabnam/shabnam.woff2") format("woff2"),
     url("/assets/fonts/shabnam/shabnam.woff") format("woff"),
     url("/assets/fonts/shabnam/shabnam.ttf") format("truetype");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("/assets/fonts/shabnam/shabnam.eot");
     src: url("/assets/fonts/shabnam/shabnam.woff2") format("woff2"),
     url("/assets/fonts/shabnam/shabnam.woff") format("woff"),
     url("/assets/fonts/shabnam/shabnam.ttf") format("truetype");
     font-weight: 700;
     font-style: normal;
}
/* CACHED: 2025-03-30T03:02:31+00:00 */
/* Powered by FontServer.ir */