/* Generated for PhpStorm v242.23339.16 on  */
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/142542b7232df63f4f3b3357fd0f66a823580d1b2f020cdb4bdd77f2b4855038.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/ad3cd4cbda94aee8578c1b622b9002f9dfe345c05870eb375a02da853d08f072.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/7029f2f063c6d00005e5d2e09c72bb347b932db1ce0c5a169a2383ce61e57ca5.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/fbf69c15be382ecbb610544ce393affeb070b04de58fda230db9dd0b005f1b5f.ttf") format("truetype");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/55b3e762c851b57dc57bb9998000f18c3193b9852f4924a3112e5a05f3b241da.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/046a76746039189feb148c360dfb82d07a1e3464d31a2078363587af6f5a1cfb.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/b9e4044238227ce402881503192eb3ebff427c237e01e5764fbbf37954feeb0c.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/fe641502f88d291cb4197c75028dd2ce572725e7112db8722f1569fd01093bd9.ttf") format("truetype");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/d9793ae87f3e7d6f420a669dc63af6ba5debd0dfa69dceef8714556dd8b8a4a4.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/d783603a0dd07db6896ecd8a3460e2256a48dca62373a0478706a05490c1a2d8.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/d8ac444cba062f8881a04ae6c2c1b64f8e783d24077ccaeb3b253e45b0e3f68c.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/7bc35750358416a6a7189b02d39b945605b8f2fc6a425521c41051a0209cb564.ttf") format("truetype");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/833778b22ac3da6d14200e916f3c6c90ff03514a6c55be727c34649302fd25f2.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/fc6648da06acebfe96ad5a8f077f569c5c4dd75b77122951723ddfbfeb191728.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/50fa8f94166e2a2b2a51442d25a7033e9fc85614d930e05335bdcfd522b5811e.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/193a80b0744e7fa12006e5698e48b506d6c788013f5741378a16e02847e10811.ttf") format("truetype");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/da725d16741730263da61667d5b902354948e73dc6beed5a21dc3e56c1ae347e.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/3b2277e82a583c9f91de41aa9e198a14d7ef7f4ccd04828abdd623acd116a88b.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/a36031534021625309645dd204a61b39fefad8635846b8d9fbc84aaae3797f37.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/26b014151db38eb6a7455c4fceaf1c6c8e58c9c96cd7d1d0abea64288d0b5c18.ttf") format("truetype");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/a3c40b73e3d93cfaa7d6c2213a4891063ab9886fa4ae8520cb00285026ce6999.eot");
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/71671477a4b62305fbd3ed4976a31c3c08520cf914656ece6b79543524a49132.woff2") format("woff2"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/164eba9231506861f4b51405a3fb57554ee94b5e4263f01d405f42088ca550c0.woff") format("woff"),
          url("https://cdn.fontcdn.ir/Fonts/Vazir/a1e789d412f7ff7b6c2a61f8e88e331dd852cfecff76f0c3eddfac73e30d63c8.ttf") format("truetype");
     font-weight: 900;
     font-style: normal;
}
/* CACHED: 2025-03-30T03:02:28+00:00 */
/* Powered by FontServer.ir */