/* VazirMatn Light */
@font-face {
     font-family: 'Vazir';
     src: url('/assets/fonts/VazirMatn/Vazirmatn-Light.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

/* VazirMatn Regular */
@font-face {
     font-family: 'Vazir';
     src: url('/assets/fonts/VazirMatn/Vazirmatn-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}

/* VazirMatn Bold */
@font-face {
     font-family: 'Vazir';
     src: url('/assets/fonts/VazirMatn/Vazirmatn-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
}
