/* IRANYekanX Light */
@font-face {
     font-family: 'Yekan';
     src: url('assets/fonts/IRANYekanX/IRANYekanX-Light.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Regular */
@font-face {
     font-family: 'Yekan';
     src: url('assets/fonts/IRANYekanX/IRANYekanX-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Bold */
@font-face {
     font-family: 'Yekan';
     src: url('assets/fonts/IRANYekanX/IRANYekanX-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
}

