/* IRANYekanX Thin */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Thin.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Light */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Light.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Regular */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Medium */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Medium.woff2') format('woff2');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Semi-Bold */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-DemiBold.woff2') format('woff2');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Bold */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
}

/* IRANYekanX Black */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Heavy.woff2') format('woff2');
     font-weight: 800;
     font-style: normal;
     font-display: swap;
}


/* IRANYekanX Black */
@font-face {
     font-family: 'Yekan';
     src: url('/assets/fonts/IRANYekanX/IRANYekanX-Black.woff2') format('woff2');
     font-weight: 900;
     font-style: normal;
     font-display: swap;
}
